# Порт сервера
PORT=3000

# Email, на который будут приходить заявки
RECIPIENT_EMAIL=runatex.doc@mail.ru

# SMTP Mail.ru
SMTP_HOST=smtp.mail.ru
SMTP_PORT=465
SMTP_USER=runatex.doc@mail.ru
SMTP_PASS=ваш-пароль-от-почты
